#header{
    background-color: #CCCCCC;
    border-bottom: solid 1px black;
  }
  #path{
    position:relative;
    font-size: 8pt;
    font-family: Arial;
    font-weight: bold;
    padding: 2px;
  }
  #list{
    font-size: 10pt;
    font-family: Arial;
    overflow:auto;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
  }
  .folders{
    padding: 1px;
    border-top: solid 1px white;
    border-left: solid 1px white;
    border-right: solid 1px white;
    border-bottom: solid 1px black;
    cursor: pointer;
    background-color: white;
  }
  .folderButton{
    padding: 0px;
    border-style: outset;
    border-width: 2px;
    border-color: black;
    cursor: pointer;
    background-color: #CCCCCC;
  }
  A{
    color:blue;
    text-decoration:none;
    padding:3px;
  }
  A:hover{
    background-color: #CCCCCC;
    padding:1px;
    border-style: outset;
    border-width: 2px;
  }